{% extends 'main_template.html' %}

{% block title %}
    FORM
{% endblock %}


{% block cabecalho %}
Cabeçalho da pagina {{variavel}}
{% endblock %}

{% block body%}
<form name="cad_user" method="post" action="/docad/">
    {% csrf_token %}
    {% if form %}
    <div>Usuario: {{form.usuario}}</div>
    <div>Senha: {{form.senha}}</div>
    <div>Primerio Nome: {{form.nome}}</div>
    <div>Ultimo Nome: {{form.ultimo_nome}}</div>
    {% elif perfil %}
    <div>Usuario: {{perfil.usuario}}</div>
    <div>Primerio Nome: {{perfil.nome}}</div>
    <div>Ultimo Nome: {{perfil.ultimo_nome}}</div>
    {% endif %}
    <input type="submit" value="Salvar">
</form>
{% endblock%}