{% extends 'main_template.html' %}

{% block title %}
    Este é o titulo
{% endblock %}


{% block cabecalho %}
Cabeçalho da pagina
{% endblock %}

{% block body%}
    <div class="conteudo">
        {% if custom == "LOGOUT" %}
            Seu id de usuário<br>
            {{perfil.usuario}}
            <a href="#">{{custom}}</a> 
            <br><br>
            <a href="/perfil/"> Editar Perfil</a>
        {% else %}
            <a href="/cafe/">{{custom}}</a> 
        {% endif %}     
    </div>

{% endblock%}
